
@{
    ViewData["Title"] = "Update";
}

@model UpdateSettingVM
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Settings</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Value">@Model.Key</label>
                    <input asp-for="Value" type="text" class="form-control" placeholder="Value">
                    <span asp-validation-for="Value"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2" style="color:white;">Update</button>
                <button class="btn btn-light" asp-action="Index" asp-controller="Setting">Cancel</button>
            </form>
        </div>
    </div>
</div>